body {
    margin: 60px auto;
    width: 70%;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

#mapid {
    width: 800px; 
    height: 600px; 
    position: relative; 
    outline: currentcolor none medium;
}
